version: 2.1

orbs:
  changelog: ory/changelog@0.0.5
  sdk: ory/sdk@0.1.13
  goreleaser: ory/goreleaser@0.0.8

jobs:
  format:
    docker:
      - image: circleci/golang:1.13
    working_directory: /go/src/github.com/ory/keto
    steps:
      - checkout
      - run:
          name: Enable go1.11 modules
          command: |
            echo 'export GO111MODULE=on' >> $BASH_ENV
            source $BASH_ENV
      - run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin latest
      - run: go mod download
      - run: golangci-lint run ./...

  test:
    docker:
      - image: circleci/golang:1.13
        environment:
          - TEST_DATABASE_POSTGRESQL=postgres://test:test@localhost:5432/keto?sslmode=disable
          - TEST_DATABASE_MYSQL=root:test@(localhost:3306)/mysql?parseTime=true
      - image: postgres:9.5
        environment:
          - POSTGRES_USER=test
          - POSTGRES_PASSWORD=test
          - POSTGRES_DB=keto
      - image: mysql:8.0
        environment:
          - MYSQL_ROOT_PASSWORD=test
    working_directory: /go/src/github.com/ory/keto
    steps:
      - checkout
      - setup_remote_docker
      # Installation
      - run: go mod verify
      - run: go install github.com/ory/keto
      - run: go install github.com/go-swagger/go-swagger/cmd/swagger github.com/bradfitz/goimports github.com/mattn/goveralls golang.org/x/tools/cmd/cover github.com/ory/go-acc

      # Tests
      - run: go test -race -short -v $(go list ./... | grep -v cmd)
      - run: go-acc -v -o coverage.txt ./...
      - run: ./scripts/test-e2e.sh

      # Submit coverage details
      - run: test -z "$CIRCLE_PR_NUMBER" && goveralls -service=circle-ci -coverprofile=coverage.txt -repotoken=$COVERALLS_REPO_TOKEN || echo "forks are not allowed to push to coveralls"

  release-docs:
    docker:
      - image: circleci/golang:1.12 # if we use something else bash may be missing
    working_directory: /go/src/github.com/ory/keto
    steps:
      - checkout
      - run: ./scripts/run-configuration.sh
      - run: git config --global user.email "hi@ory.am"
      - run: git config --global user.name "ORY Continuous Integration"
      - run: "git clone https://arekkas:$DOCS_TOKEN_PUSH@github.com/ory/docs.git ../docs"
      - run: "cp ./docs/api.swagger.json ../docs/apis/keto.json"
      - run: "cp configuration.md ../docs/docs/keto/configuration.md"
      - run: "(cd ../docs && git add -A && git commit -a -m \"Updates ORY Keto Swagger and config definitions\" && git push origin) || exit 0"

workflows:
  version: 2
  "test, build, and relase":
    jobs:
      - format:
          filters:
            tags:
              only: /.*/
      - test:
          filters:
            tags:
              only: /.*/
      - release-docs:
          filters:
            branches:
              only: master
      - changelog/generate:
          requires:
            - test
            - format
          filters:
            tags:
              only: /.*/
            branches:
              only: master
      - sdk/generate:
          appname: Ory_Keto
          requires:
            - test
            - format
      - sdk/release:
          requires:
            - test
            - format
            - goreleaser/release
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - goreleaser/test:
          filters:
            tags:
              only: /.*/
      - goreleaser/release:
          requires:
            - goreleaser/test
            - test
            - format
            - test-e2e-memory
            - test-e2e-postgres
            - test-e2e-mysql
            - test-e2e-cockroach
            - test-e2e-plugin
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
