version: 2.1

orbs:
  sdk: ory/sdk@0.1.36
  changelog: ory/changelog@0.1.2
  goreleaser: ory/goreleaser@0.1.17
  slack: circleci/slack@3.4.2
  nancy: ory/nancy@0.0.12
  docs: ory/docs@0.0.8
  golangci: ory/golangci@0.0.9

jobs:
  test:
    docker:
      -
        image: cimg/go:1.15-node
        environment:
          TEST_DATABASE_POSTGRESQL: postgres://test:test@localhost:5432/keto?sslmode=disable
          TEST_DATABASE_MYSQL: mysql://root:test@(localhost:3306)/mysql?parseTime=true&multiStatements=true
          TEST_DATABASE_COCKROACHDB: cockroach://root@localhost:26257/defaultdb?sslmode=disable
      -
        image: postgres:11.8
        environment:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: keto
      -
        image: mysql:8.0
        environment:
          MYSQL_ROOT_PASSWORD: test
      -
        image: cockroachdb/cockroach:v20.2.4
        command: start-single-node --insecure
    steps:
      - checkout
      - setup_remote_docker
      - run: npm i -g npm@7
      # Installation
      -
        run: go mod verify
      -
        run: go install github.com/ory/keto
      -
        run: go install github.com/go-swagger/go-swagger/cmd/swagger github.com/bradfitz/goimports github.com/mattn/goveralls golang.org/x/tools/cmd/cover github.com/ory/go-acc

      # Tests
      -
        run: go test -tags sqlite -race -short -v ./...
      -
        run: go-acc -o coverage.txt ./... -- -v -tags sqlite

      # Submit coverage details
      -
        run: test -z "$CIRCLE_PR_NUMBER" && goveralls -service=circle-ci -coverprofile=coverage.txt -repotoken=$COVERALLS_REPO_TOKEN || echo "forks are not allowed to push to coveralls"

      # Test documentation examples
      -
        run: make test-docs-samples
  validate:
    docker:
      - image: cimg/go:1.15-node
        environment:
          GO111MODULE: 'on'
    steps:
      - checkout
      - golangci/lint
      - docs/check-format

workflows:
  version: 2
  "test, build, and relase":
    jobs:
      -
        nancy/test:
          filters:
            tags:
              only: /.*/
      -
        validate:
          filters:
            tags:
              only: /.*/
      -
        test:
          filters:
            tags:
              only: /.*/
      -
        changelog/generate:
          requires:
            - test
            - validate
          filters:
            tags:
              only: /.*/
            branches:
              only: master
      -
        docs/build:
          requires:
            - test
            - validate
          filters:
            tags:
              only: /.*/
            branches:
              only: master
#      -
#        sdk/generate:
#          appname: Ory_Keto
#          requires:
#            - test
#            - validate
      -
        sdk/release:
          requires:
            - test
            - validate
            - goreleaser/release
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      -
        goreleaser/test:
          filters:
            tags:
              only: /.*/
      -
        goreleaser/release:
          requires:
            - goreleaser/test
            - test
            - validate
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - goreleaser/render-version-schema:
          requires:
            - goreleaser/release
          filters:
            tags:
              only: /.*/
      -
        goreleaser/newsletter-draft:
          chimp-list: f605a41b53
          chimp-segment: 6479489
          requires:
            - goreleaser/release
          filters:
            tags:
              only: /.*/
      -
        slack/approval-notification:
          message: Pending approval
          channel: release-automation
          requires:
            - goreleaser/newsletter-draft
          filters:
            tags:
              only: /.*/
      -
        newsletter-approval:
          type: approval
          requires:
            - goreleaser/newsletter-draft
          filters:
            tags:
              only: /.*/
      -
        goreleaser/newsletter-send:
          chimp-list: f605a41b53
          requires:
            - newsletter-approval
          filters:
            tags:
              only: /.*/
