name: Generate and Lint buf

on:
  push:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  lint:
    name: buf check lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Lint and Build
        run: make buf
      - name: Push build
        run: |
          git config --local user.email "zepatrik@users.noreply.github.com"
          git config --local user.name "zepatrik"
          git add proto
          git commit -a -m "autogen: build buf" && git push "https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git" HEAD:${GITHUB_REF#"refs/heads/"} || true
